@charset "UTF-8";


#div1 {
   	border: 1px solid rgb(225,225,225);
    position : absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 530px;
    height:600px;
	margin-left:-250px;
    margin-top:-310px;
    padding: 40px 30px;
    text-align: center;
     border-radius: 3px; 
}