@charset "UTF-8";

#banner {
	margin-bottom: -170px;
}

.carousel-inner {
	text-align: center;
	margin : 0 auto;
}

.carousel-item active .carousel-item{
  width : 700px;
  height : 500px;
}

#postImages{
  width : 700px;
}

.carousel-control-prev-icon{ 
 font-size : 40px;
 color : #4E6BA6;
  margin-left : 30px;
}

.carousel-control-next-icon{
 font-size : 40px;
 color : #4E6BA6;
 margin-right : 30px;
}


#postImages{
  width : 65%;
  border-radius: 20px 20px;
} 

.profile{
  float : left; 
  margin-left : 200px;
}

.userInfo{
  float : left; 
  width : 200px;
}

.userId{
 font-size : 18px;
 float : left; 
 font-weight:bold; 
 margin-left : 20px;
 padding-top : 20px;
}

.wrap-profile{
 margin-top : 10px;
}

.seperate{
 width : 750px;
 margin : 0 auto;
 margin-top : 50px;
 margin-bottom: 30px;
}

.post{
  text-align: left;
  margin-left : 200px;
}

#heart{
  padding : 5px;
  width : 8px;
  font-size : 20px;
  text-align: center;
  font-weight : bold;
  color :  red; 
  background-color: white;
  margin-top : -10px; 
  text-decoration: none !important;  
}

 #postTitle{
  font-size : 30px;
  font-weight: bold;
  color : #3D3D3D;
}

 #postCategory{
  font-size : 13px;
  font-weight: bold;
  color : #A6ABAB;
 }
 
 #postContent{ 
  font-size : 18px;
  font-weight: bold;
  color : #3D3D3D; 
  white-space: pre-line;
 }
 
 #heartCnt{
  width : 70px;
  margin-left : 10px;
  font-size : 13px;
  font-weight: bold;
  color : #A6ABAB; 
  line-height: 50px;
 }
 
 #heart-div{
   margin-top : -30px;

 }
 
 .icon img{
 display:inline-block;
 vertical-align:middle; 
 
 }
 
 #chatBtn{
  margin-right : 60px;
  text-align : right;
  border-radius: 10px;
 }