@charset "UTF-8";
#banner{
	  margin-bottom : -200px;
	}
	
	#subTitle{
	 color : white;
	font-size : 23px;
	}
	
	#two{
	  height : 300px;
	}
	
	.article{	
	 width : 250px;
	 height : 320px;	 
	 padding : 15px;
	 
	 text-align : center;
	 margin-bottom : 30px;
	/*  border : 5px solid #EEE; */
	 border-radius: 20px;
	}
	
	.article-img{		
	 float : left;
	 width : 220px;
	 height :195px;
	}
	
	.img{
	 width : 230px;
	 height :195px;	 
	 margin-left : 4px;
	 image-rendering :-webkit-optimize-contrast;
	 border-radius: 10px;
	 border : 1px solid #EEE;
	 cursor: pointer;
	 
	 box-shadow: 1px 1px 0 #EEE;
     position: relative; 
     top:2px;

	}
			
	.article-title{
	  width : 200px;	  	 	
	  white-space: nowrap;  
	  overflow: hidden;
	  text-overflow: ellipsis;
	  font-weight : 500;
	  text-align: left;
	  font-size : 20px;
	  color : #02060D;
	}
	
	.article-heart{
	text-align: left;
	font-size : 15px;
	font-weight : 400;
	
	}
	.title{
	  font-size : 50px;
	  font-weight: bold;	  
	  color : white;
	}	
 	.pBtn{
	  float : right;
	  background-color: #D9D9D9;	 
	} 
	
	#writeBtn{
	 font-size: 20px;
	 font-weight : bold;
	 text-decoration: none;
	 color : black;	
	 margin-left : 5px;

	}
	
	.wrap-btn{
	 border : 1px solid #DDD;
	 padding : 7px;
	 overflow: hidden;
     width : 110px;
     border-radius: 10px;
     float :right;
     box-shadow: 2px 2px #EEE;
     border-color: #D9D9D9;
     background-color: #D9D9D9;     
	}
	
	#updateBtn{
	 border-radius: 25px !important;
	 width : 60px;
	}
	.searchForm {
	 margin-left : 750px;
	 overflow : hidden;
	 text-align: left;
	}
	
	#searchType{
	 width : 120px;
	 border-color : #EEE;
	 border-radius : 10px 0 0 10px;
	}
	
	.search-unit{
	  float : left; 	 
	}
	
	#keyword{
	  border-color : #EEE;	
	}
	
	#searchBtn{
	  border-radius : 0 10px 10px 0;
	  background-color: #595959;
	  border-color: #595959; 
	}
	
/* 	.floating { 
	position: fixed;
	right: 50%;
	top: 280px; 
	margin-right: -720px; 
	text-align:center; 
	width: 120px; 
	}
	 */

.pagination{
  overflow : hidden;
  float : right; 
}

.paging{
  margin-right : 550px;
}

.page-link{
 border-radius: 5px 5px;
 background-color: #EEE;
 border-color: #EEE;
}

.notice{
  display : none; 
  border : 5px solid #5385c1;
  background-color : white;
  border-radius : 20px;
  width : 270px;
  height : 160px;  
  margin-left : 20px;
  position : fixed;
  top : 600px;
  right : 100px;
}

.noticeBtn{
  width : 40px !important;
  height : 30px !important;
  font-size : 15px !important;
  padding-right : 50px !important;
  padding-bottom : 45px !important;
  text-align : center !important;
  border-radius: 5px !important;
  margin : 10px !important;
  background-color:  #5385c1 !important;
 }
 
 .noticeMsg{
   margin-top : 30px;
   font-size : 15px;
 }
